@use "../utilities.scss" as *;

// /*
// #fef2e6
// #ffe1c9
// #fed1b2
// #ef976f
// #dadada
// #86929e
// #566374 */

Link {
	color: red;
}

.container {
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 5vh auto;
	gap: 5vh;
	// background-color: green;
}

.flexRow {
	@include displayFlex(row);
	width: 100%;
}

.flexColumn {
	@include displayFlex(column);
}

.box {
	width: 28vw; //ff
	height: 70vh; //ff
	background-color: #fef2e6;
	border-radius: $border-radius;
	box-shadow: rgba(50, 50, 93, 0.25) -20px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 10px 8px 16px -8px;
	transition: opacity 0.2s ease-in-out, transform 1.2s;
	opacity: 1;
}

.box2 {
	background-image: url("../assets/img/person.jpg");
	background-repeat: no-repeat;
	background-size: 120%;
	background-position-y: 20%;
	background-position-x: 95%;
}

.box3 {
	height: 37vh; //ff
}

.box4 {
	height: 28vh;
}

.box5 {
	height: 16.7vh;
	width: 100%;
}

.container .box-shadow:hover ~ .box-shadow,
.container .box-shadow:hover ~ .flexColumn .box-shadow,
.container .flexColumn .box-shadow:hover ~ .box-shadow,
.container .flexColumn .box-shadow:hover ~ .flexRow .box-shadow {
	opacity: 0.4;
}

.container .flexColumn .box-shadow:hover ~ .box-shadow,
.container .flexRow .box-shadow:hover ~ .box-shadow {
	opacity: 0.4;
}

.container:hover .box-shadow {
	opacity: 0.4;
}

.container .box-shadow:hover {
	opacity: 1;
	transform: scale(1.05);
	transition: transform 1.2s, opacity 1.2s;
}

.topHeader {
	display: flex;
	border-radius: $border-radius $border-radius 0 0;
	border: #aba09e solid 1px;
	height: 55px;
	background: #aba09e;
	text-align: center;
}

.title {
	margin: auto;
}

.container {
	@include media-query("small") {
		font-size: 11px;
	}
	.flexRow {
		@include displayFlex(column);
		width: 100%;
		gap: 3vh;
	}

	.box3 {
		margin-bottom: 3vh;
	}

	.box {
		@include displayFlex(column);
		width: 100%;
		font-size: 11px;
	}

	@include media-query("large") {
		.container {
			width: 90vw;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 5vh auto;
			gap: 5vh;
		}

		.flexRow {
			@include displayFlex(row);
			width: 100%;
		}

		.flexColumn {
			@include displayFlex(column);
		}

		.box {
			width: 28vw;
			height: 70vh;
		}

		.box3 {
			height: 37vh;
		}

		.box4 {
			height: 28vh;
		}

		.box5 {
			height: 16.7vh;
			width: 100%;
		}
	}
}
